.navbar {
  background-color: #74c69d;
  color: black;
  padding: 5px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.2em;
  user-select: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.navlink {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 2px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: black;
  width: auto;
}

.user {
  display: none;
}

@media only screen and (min-width: 381px) {
  .logo {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  .navlink {
    cursor: pointer;
  }
  .navbar {
    padding: 10px;
    font-size: 1.5em;
  }

  .navlink:hover {
    background-color: #2e2e2e;
  }

  .user {
    font-size: 1em;
    user-select: none;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    padding: 0;
  }
}
