.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10%;
}

@media only screen and (min-width: 768px) {
  .offers {
    padding-top: 0;
  }
}
