.title {
  margin: 0 0;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  gap: 5px;
  padding: 5px;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
}

.total-p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 2em;
    margin: 0.67em;
  }
}
